<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quảng cáo hiện tại là:</title>
</head>

<body>
  <h3>Nội dung của quảng cáo như sau:</h3>
  <p>Khuyến mãi có nội dung là: <%= content %>
  </p>
</body>

</html>
