<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mật khẩu đăng nhập hệ thống</title>
</head>

<body>
    Mật khẩu của bạn là: <p>
        <%= password %>
    </p>
    Thiết lập số điện thoại hợp lệ để đăng nhập vào hệ thống.
</body>

</html>
