<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kích hoạt tài khoản</title>
  </head>
  <body>
    Bấm vào <a href="<%= reset_url %>">đây</a> để đặt lại mất khẩu.
  </body>
</html>
